.portfolio {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.portfolio__container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

h2,
h5 {
    text-align: center;
}

.portfolio__item {
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
}

.portfolio__item-image img {
    height: 30rem;
    width: auto;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    text-align: center;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}