* {
    font-family: 'Exo', sans-serif;
    color: #fff;
}

.background {
    background: #0C1D36;
    background-image: url(assets/background_pattern.png);
    background-size: stretch;
    width: 100%;
    height: auto;
}
